
# https://www.gitignore.io/api/python,windows,eclipse 작성
# https://www.gitignore.io/?templates=python,windows,eclipse에서 수정

### Eclipse ###
.metadata
큰 상자/
tmp /
* .tmp
*. 박
* .swp
* ~ .nib
local.properties
.settings /
.loadpath
. 후원자

# 외부 도구 작성자
.externalToolBuilders /

# 로컬에 저장된 "Eclipse 실행 구성"
*.쏘다

# PyDev 전용 (Eclipse 용 Python IDE)
* .pydevproject

# CDT 관련 (C / C ++ 개발 툴링)
.cproject

# CDT- 자동 도구
.autotools

# Java 주석 프로세서 (APT)
. 유령

# PDT 관련 (PHP 개발 도구)
.buildpath

# sbteclipse 플러그인
.목표

# Tern 플러그인
.tern-project

# TeXlipse 플러그인
.texlipse

# STS (스프링 도구 모음)
.springBeans

# 코드 추천자
. 후원자 /

# 주석 처리
.apt_generated /

# 스칼라 IDE 관련 (스칼라 및 자바 개발을위한 Eclipse)
.cache-main
.scala_dependencies
.worksheet

### 이클립스 패치 ###
# Eclipse Core
.계획

# JDT 전용 (Eclipse Java Development Tools)
.classpath

# 주석 처리
.apt_generated

.sts4- 캐시 /

### Python ###
# 바이트 - 컴파일 / 최적화 / DLL 파일
__pycache __ /
* .py [cod]
* $ py.class

# C 확장 프로그램
*.그래서

# 유통 / 포장
. 파이썬
짓다/
개발 - 달걀 /
dist /
다운로드 /
달걀/
.달걀/
lib /
lib64 /
부분품/
sdist /
var /
바퀴 /
pip-wheel-metadata /
share / python-wheels /
* .egg-info /
.installed.cfg
*.계란
명백한

# PyInstaller
# 보통이 파일들은 템플릿에서 파이썬 스크립트에 의해 쓰여집니다.
# PyInstaller가 exe를 빌드하기 전에 # 그것에 날짜 / 기타 정보를 삽입합니다.
*.명백한
*.투기

# 설치 관리자 로그
pip-log.txt
pip-delete-this-directory.txt

# 단위 테스트 / 적용 범위 보고서
htmlcov /
.tox /
.nox /
.적용 범위
.적용 범위.*
.은닉처
nosetests.xml
coverage.xml
*.덮개
. 가설 /
.pytest_cache /

# 번역
* .mo
*.냄비

# Django stuff :
*.로그
local_settings.py
db.sqlite3

# 플라스크 물건 :
예/
.webassets-cache

# Scrap stuff :
.scrapy

# 스핑크스 문서
docs / _build /

# PyBuilder
목표/

# 수퍼 노트북
.ipynb_checkpoints

# IPython
profile_default /
ipython_config.py

# pyenv
.python 버전

# pipenv
# pypa / pipenv # 598에 따르면 버전 제어에 Pipfile.lock을 포함시키는 것이 좋습니다.
# 그러나 협업의 경우 플랫폼 별 종속성 또는 종속성이있는 경우
# 플랫폼 간 지원이 없으면 pipenv는 작동하지 않는 종속성을 설치할 수도 있고 그렇지 않을 수도 있습니다.
# 필요한 모든 의존성을 설치하십시오.
# Pipfile.lock

# 셀러리 비트 일정 파일
셀러리 비트 스케줄

# SageMath 구문 분석 된 파일
* .sage.py

# 환경
.env
.venv
env /
venv /
ENV /
env.bak /
venv.bak /

# Spyder 프로젝트 설정
.spyderproject
.spyproject

# Rope 프로젝트 설정
.ropeproject

# mkdocs documentation
/대지

# mypy
.mypy_cache /
.dmypy.json
dmypy.json

# Pyre 유형 검사기
.pyre /

### Windows ###
# Windows 썸네일 캐시 파일
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# 덤프 파일
* .stackdump

# 폴더 설정 파일
[Dd] esktop.ini

# 파일 공유에 사용 된 휴지통
$ RECYCLE.BIN /

# Windows Installer 파일
*.택시
* .msi
* .msix
* .msm
* .msp

# Windows 단축키
* .lnk

# End of https://www.gitignore.io/api/python,windows,eclipse